@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Welcome to the about page, @ViewData["Name"]</p>

<p>Use this area to provide additional information.</p>
